html{
    font-size: 10px;
}
*{
    box-sizing: border-box;   
}
body{
    margin:0;
    font-size: 1.6rem;
    min-height: 100vh;
}
h1{
    margin:0;
}
input,
button{
    border: none;
}
input{
    width: 100%;
    text-align: right;
}

::placeholder{
 text-align: right;
 color: hsl(185, 41%, 84%)  ;   
}
@font-face {
    font-family: 'SpaceMono';
    src: url(../fonts/SpaceMono-Bold.woff) format('woff'),
        url(../fonts/SpaceMono-Bold.woff2) format('woff2');
    font-display: swap;
}
:root{
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);   
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
    --red:hsl(0, 62%, 50%);
}

.wrapper{
    background-color:var(--light-grayish-cyan);
    height:100%;
}
.logo{
    padding:4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tip-app{
    background-color: var(--white);
    border-radius:1.5em;
    font-family: 'SpaceMono',sans-serif;
    color:var(--dark-grayish-cyan);
    font-weight: 700;
}
.tip-app__inner{
    padding:2em;
}
.form{
    margin-bottom: 2.5em;
}
.form__field{
    position:relative;
    margin-bottom:1em;
}
.form__input,
.button{
    font-family: inherit;
    font-weight: inherit;
    font-size: 2.4rem;
    font-weight: 700;
}
.form__input{
    background-color: var(--very-light-grayish-cyan);
    color:var(--very-dark-cyan);
    padding: .3em;
}
.form__error{
    content: "";
    position: absolute;
    right: 0;
    width: 200px;
    height: 10px;
    text-align: right;
    color: var(--red);
}
.icon-dollar,
.icon-person{
    position:absolute;
    left:1em;
    top:2.5em;
}
.form__select{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: .5em;
}
.button{
    background-color: var(--light-grayish-cyan);
    color: var(--dark-grayish-cyan);
    padding:.3em;
    border-radius: .3em;
}
.button-option{
    background-color: var(--very-dark-cyan);
    color:var(--white);
}
.button-option--selected{
    background-color: var(--strong-cyan);
    color:var(--very-dark-cyan);
}
.button-custom::placeholder{
    text-align: center;
    color: var(--dark-grayish-cyan);
}

.display{
    background-color: var(--very-dark-cyan);
    color:var(--white);
    padding:1em;
    border-radius:1em;
}
.display__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.display__tip{
    display: flex;
    flex-direction: column;
}

p > span:nth-of-type(2){
    font-size: 1.4rem;
    color:var(--dark-grayish-cyan);
}
.display__amount{
    font-size: 3rem;
    margin: 0;
    color: var(--strong-cyan);
}
.button-reset{
    margin-top: 1em;
    width: 100%;
    background-color: var(--strong-cyan);
    text-transform: uppercase;
    color: var(--very-dark-cyan);
}
.button-reset:disabled{
    opacity:30%;
}

.attribution {
    width: 100%;
    font-size: 11px;
    text-align: center;
    padding-bottom: .5em;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
input:focus{
    outline: none;
}
@media screen and (min-width:576px){
    .wrapper{
        min-height: 100vh;
    }
    .tip-app{
        width: 550px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media screen and (min-width:1024px){
    .wrapper{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .logo{
        padding-top: 0;
        padding-bottom: 2em;
    }
    .logo img{
        width: 110px;
        height: 60px;
    }
    .tip-app{
        width:70%;
        max-width: 900px;
        height: 450px;
    }
    .tip-app__inner{
        height: 100%;
    }
    .row{
        height: inherit;
        display: flex;
        gap: 1em; 
    }
    .column-50{
        flex-basis: 50%;
        display: flex;  
    }
    .form{
        margin-bottom: 0;
    }
    .form__field{
        margin-bottom: 2.4em;
    }
    .form__select{
        grid-template-columns: repeat(3,1fr);
    }
    .display{
        width: 100%;
        padding: 2.4em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .attribution{
        position: fixed;
        bottom: 0;
    }
}
@media (hover:hover){
    button:hover{
        cursor: pointer;
        background-color: var(--strong-cyan);
        color:var(--very-dark-cyan);
        opacity: 80%;
    }
    input:hover{
        cursor: pointer;
    }
}
.form__select > span{
    top:0;
}